.DS_Store
.cache

CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Doxyfile.docs

Makefile
cmake_install.cmake
compile_commands.json
tags

Example/ask
Example/become
Example/pingpong

Library/liblaugh.a
